body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  
  section {
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  img{
    width:300px;
    height:300px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  img{
    position: relative;
    left:75px;
  }